# This steps will be executed project root directory
# Following variables are given by the build system:
# - {install_prefix}: The installation prefix path

name: LAMMPS Basic Build for MacOS
steps:
  - name: Configure
    command: cmake ./cmake
    args:
      - "-B build"
      - "-G Ninja"
      - "-D CMAKE_INSTALL_PREFIX={install_prefix}"
      - "-D CMAKE_BUILD_TYPE=Release"
      - "-D BUILD_MPI=ON"
      - "-D BUILD_SHARED_LIBS=ON"
      - "-D BUILD_PYTHON=ON"
      # - "-D PKG_ADIOS=ON"
      # - "-D PKG_AMOEBA=ON"
      # - "-D PKG_APIP=ON"
      # - "-D PKG_ASPHERE=ON"
      # - "-D PKG_BOCS=ON"
      # - "-D PKG_BODY=ON"
      # - "-D PKG_BPM=ON"
      # - "-D PKG_BROWNIAN=ON"
      # - "-D PKG_CG-DNA=ON"
      # - "-D PKG_CG-SPICA=ON"
      # - "-D PKG_CLASS2=ON"
      # - "-D PKG_COLLOID=ON"
      # - "-D PKG_COLVARS=ON"
      # - "-D PKG_COMPRESS=ON"
      # - "-D PKG_CORESHELL=ON"
      # - "-D PKG_DIELECTRIC=ON"
      # - "-D PKG_DIFFRACTION=ON"
      # - "-D PKG_DIPOLE=ON"
      # - "-D PKG_DPD-BASIC=ON"
      # - "-D PKG_DPD-MESO=ON"
      # - "-D PKG_DPD-REACT=ON"
      # - "-D PKG_DPD-SMOOTH=ON"
      # - "-D PKG_DRUDE=ON"
      # - "-D PKG_EFF=ON"
      # - "-D PKG_ELECTRODE=ON"
      # - "-D PKG_EXTRA-COMMAND=ON"
      # - "-D PKG_EXTRA-COMPUTE=ON"
      # - "-D PKG_EXTRA-DUMP=ON"
      # - "-D PKG_EXTRA-FIX=ON"
      # - "-D PKG_EXTRA-MOLECULE=ON"
      # - "-D PKG_EXTRA-PAIR=ON"
      # - "-D PKG_FEP=ON"
      # - "-D PKG_GPU=ON"
      # - "-D PKG_GRANULAR=ON"
      # - "-D PKG_H5MD=ON"
      # - "-D PKG_INTEL=ON"
      # - "-D PKG_INTERLAYER=ON"
      # - "-D PKG_KIM=ON"
      # - "-D PKG_KOKKOS=ON"
      - "-D PKG_KSPACE=ON"
      # - "-D PKG_LATBOLTZ=ON"
      # - "-D PKG_LEPTON=ON"
      # - "-D PKG_MACHDYN=ON"
      # - "-D PKG_MANIFOLD=ON"
      - "-D PKG_MANYBODY=ON"
      # - "-D PKG_MC=ON"
      # - "-D PKG_MDI=ON"
      # - "-D PKG_MEAM=ON"
      # - "-D PKG_MESONT=ON"
      # - "-D PKG_MGPT=ON"
      # - "-D PKG_MISC=ON"
      # - "-D PKG_ML-HDNNP=ON"
      # - "-D PKG_ML-IAP=ON"
      # - "-D PKG_ML-PACE=ON"
      # - "-D PKG_ML-POD=ON"
      # - "-D PKG_ML-QUIP=ON"
      # - "-D PKG_ML-RANN=ON"
      # - "-D PKG_ML-SNAP=ON"
      # - "-D PKG_ML-UF3=ON"
      # - "-D PKG_MOFFF=ON"
      - "-D PKG_MOLECULE=ON"
      # - "-D PKG_MOLFILE=ON"
      # - "-D PKG_NETCDF=ON"
      # - "-D PKG_OPENMP=ON"
      # - "-D PKG_OPT=ON"
      # - "-D PKG_ORIENT=ON"
      # - "-D PKG_PERI=ON"
      # - "-D PKG_PHONON=ON"
      # - "-D PKG_PLUGIN=ON"
      # - "-D PKG_PLUMED=ON"
      # - "-D PKG_PTM=ON"
      - "-D PKG_PYTHON=ON"
      # - "-D PKG_QEQ=ON"
      # - "-D PKG_QMMM=ON"
      # - "-D PKG_QTB=ON"
      # - "-D PKG_REACTION=ON"
      # - "-D PKG_REAXFF=ON"
      # - "-D PKG_REPLICA=ON"
      # - "-D PKG_RHEO=ON"
      - "-D PKG_RIGID=ON"
      # - "-D PKG_SCAFACOS=ON"
      # - "-D PKG_SHOCK=ON"
      # - "-D PKG_SMTBQ=ON"
      # - "-D PKG_SPH=ON"
      # - "-D PKG_SPIN=ON"
      # - "-D PKG_SRD=ON"
      # - "-D PKG_TALLY=ON"
      # - "-D PKG_UEF=ON"
      # - "-D PKG_VORONOI=ON"
      # - "-D PKG_VTK=ON"
      # - "-D PKG_YAFF=ON"
      - "--fresh"
  - name: Build
    command: cmake --build build
  - name: Install
    command: cmake --install build
  - name: Build Python
    command: python3 python/install.py
    args:
      - "-n"
      - "-p python/lammps"
      - "-l build/liblammps.dylib"
      - "-v src/version.h"
      - "-w build"
  - name: Install Python
    command: python3 -m pip install
    args:
      - "--target={python_install_prefix}"
      - "build/lammps*.whl"
